[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "submodules/vim-commentary"]
	path = vim-submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-submodules/vim-oscyank"]
	path = vim-submodules/vim-oscyank
	url = https://github.com/ojroques/vim-oscyank
[submodule "vim-submodules/fzf.vim"]
	path = vim-submodules/fzf.vim
	url = https://github.com/junegunn/fzf.vim
